In [1]:
import os
import pandas as pd
from tqdm import tqdm
from os import listdir
from os.path import isfile, join
import re
import numpy as np

In [2]:
csv_files = listdir('./excel/5월/')
print(len(csv_files))
csv_files[0]

30

'210501.xlsx'

In [3]:
df_li = []

for i in csv_files:
    df = pd.read_excel('./excel/5월/'+i, index=False, header=None)
    df_new = df[[2,3]]
    df_li.append(df_new)

In [4]:
df_acc = pd.concat(df_li, ignore_index=True)

In [5]:
df_acc

                          2                                                  3
0             NC_Celeb/MxIm                                                 지원
1        NC_Celeb/TbzJuyeon                                                 모린
2             NC_Celeb/MxIm                   그래도 하품 한번 하고나면 잠이 달아나더라구요! 신기해요.
3       NC_Celeb/AstMoonbin  뭔가 몸이 굳은 느낌이야~ 얼른 기지개 쭈욱 켜고 하루를 시작해보자. 활기찬 하루 ...
4      NC_Celeb/TbzHaknyeon                             오늘 하루도 되게 피곤했을텐데 먼저 자!
...                     ...                                                ...
35131    NC_Celeb/TbzJuyeon                                        잘 지내고 있었죠~?
35132    NC_Celeb/TbzJuyeon          저도 연습하느라 힘들었어요. 그래도 더 열심히 해서 멋진 모습 보여줄게요!
35133         NC_Celeb/MxIm                                                수빈이
35134    NC_Celeb/TbzSunwoo                                               복숭누나
35135   NC_Celeb/DrpDongyun                                               시그누나

[35136 rows x 2 columns]

In [6]:
df_acc.to_excel('./5월취합_모듬.xlsx')