In [1]:
import os
import pandas as pd
from tqdm import tqdm
from os import listdir
from os.path import isfile, join
import re
import numpy as np

In [2]:
csv_files = listdir('./낭독체_편집/csv')
print(len(csv_files))
csv_files

18

['낭독체_01.csv',
 '낭독체_02.csv',
 '낭독체_03.csv',
 '낭독체_04.csv',
 '낭독체_05.csv',
 '낭독체_06.csv',
 '낭독체_07.csv',
 '낭독체_08.csv',
 '낭독체_09.csv',
 '낭독체_10.csv',
 '낭독체_11.csv',
 '낭독체_12.csv',
 '낭독체_13.csv',
 '낭독체_14.csv',
 '낭독체_15.csv',
 '낭독체_16.csv',
 '낭독체_17.csv',
 '낭독체_18.csv']

In [3]:
script_total = []

for i in tqdm(csv_files, mininterval=1):
    f = open("./낭독체_편집/csv/"+i, 'r', encoding='utf-8-sig')
    while True:
        line = f.readline()
        if not line: break
        script_total.append(line.strip('\n'))
    f.close()

100%|██████████████████████████████████████████████████████████████████████████████████| 18/18 [00:24<00:00,  1.37s/it]

In [4]:
print(len(script_total))
script_total[17026347]

17027769

'우리 국민의 일인당 소득은 북한의 열세배 국민총소득은 스물다섯배라고 합니다.'

In [5]:
def clean_text(text):
    pattern = '[一-龥]'
    text = re.sub(pattern=pattern, repl='', string=text)
    pattern = '([a-zA-Z0-9]+\s\.html프린트\s하시려면)'
    text = re.sub(pattern=pattern, repl='', string=text)
    pattern = '(^[0-9]\.)'
    text = re.sub(pattern=pattern, repl='', string=text)
    pattern = '([0-9]\.$)'
    text = re.sub(pattern=pattern, repl='.', string=text)
    pattern = '["]'
    text = re.sub(pattern=pattern, repl='', string=text)
    pattern = '^[.,]'
    text = re.sub(pattern=pattern, repl='', string=text)
    text = text.strip()
    text = " ".join(text.split())
    return text

In [6]:
clear_li = []

for i in tqdm(script_total, mininterval=1):
    clear = clean_text(i)
    clear_li.append(clear)

100%|███████████████████████████████████████████████████████████████████| 17027769/17027769 [03:16<00:00, 86761.82it/s]

In [7]:
clear_li[17026347]

'우리 국민의 일인당 소득은 북한의 열세배 국민총소득은 스물다섯배라고 합니다.'

In [8]:
clear_df = pd.DataFrame(clear_li)

In [9]:
clear_df[0].replace('', np.nan, inplace=True)

In [10]:
clear_df[clear_df[0].isnull()==True]

            0
13418302  NaN
13418370  NaN
13419692  NaN
13423362  NaN
13423372  NaN
...       ...
13739492  NaN
13741134  NaN
13747060  NaN
13747071  NaN
13750246  NaN

[111 rows x 1 columns]

In [11]:
clear_drop = clear_df.dropna(axis=0)
print(len(clear_drop))
clear_drop.head()

17027658

                                                   0
0                                           새천년 이 아침
1  한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와,...
2                                       새 하늘 길을 열었다.
3  천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시...
4  모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것...

In [12]:
script_total_sample = clear_drop[0].sample(n=1000, random_state=1)

In [13]:
print(len(script_total_sample))
script_total_sample_sort = script_total_sample.sort_index()

1000

In [14]:
script_sample_df = pd.DataFrame(script_total_sample_sort)

In [12]:
clear_drop.to_pickle("./script_낭독체.pkl")

In [16]:
script_sample_df.to_csv("./script_sample_1000_4.csv", encoding='utf-8-sig', header=None)

### 문장스타일 분류

In [67]:
text = pd.read_pickle("./낭독체_편집/script_낭독체.pkl")

In [68]:
text_ser = text[0]

In [69]:
text_li = text_ser.tolist()

In [70]:
text_li[:5]

['새천년 이 아침',
 '한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.']

In [51]:
#text = '개미는 오늘도 열심히 일을 하네.'
#sp = text.split()
#sp[-1]

'하네.'

In [42]:
#txt_10 = text_li[:10]

In [52]:
#txt_end = []

#for d in txt_10:
    #word = d.split()[-1]
    #txt_end.append(word)

In [7]:
#txt_end

In [6]:
#end_li = []

#for i in tqdm(text_li, mininterval=1):
    #end = i.split()[-1]
    #end_li.append(end)

100%|██████████████████████████████████████████████████████████████████| 17027658/17027658 [00:26<00:00, 651175.29it/s]

In [7]:
#print(len(end_li))
#end_li[:5]

17027658

['아침', '품었다.', '열었다.', '명령한다.', '오라.']

In [57]:
#from konlpy.tag import Komoran

In [58]:
#Komoran().pos(end_li[5])

C:\Users\reijin1105\AppData\Local\Continuum\anaconda3\lib\site-packages\jpype\_core.py:210: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)

[('달라지', 'VV'), ('었', 'EP'), ('다', 'EF'), ('.', 'SF')]

In [68]:
#ex_li = ['먹었습니다.','합니다.','있어요','했어요.','가요.','한다.','이다.']
#ser = pd.Series(ex_li)

In [69]:
#ser[ser.str.endswith(('요','요.'))]

2     있어요
3    했어요.
4     가요.
dtype: object

In [ ]:
#'니다\.?$'

In [142]:
#txt = ['있었습니다.','아닙니다.','반말이야.','이름이 뭐니?']

#for t in txt:
    #m1 = re.search('니다\.?$', t)
    #print("m1 : ", m1)

m1 :  <re.Match object; span=(3, 6), match='니다.'>
m1 :  <re.Match object; span=(2, 5), match='니다.'>
m1 :  None
m1 :  None

In [144]:
#a_list=[]
#b_list=[]

#for i in txt:
    #j = re.search('니다\.$', i)
    #if j == None:
        #b_list.append(i)
    #else:
        #a_list.append(i)

In [146]:
#a_list

['있었습니다.', '아닙니다.']

In [147]:
#b_list

['반말이야.', '이름이 뭐니?']

In [71]:
hapsho_list = []
no_hapsho_list = []

for i in tqdm(text_li, mininterval=1):
    end = i.split()[-1]
    j = re.search('니다\.?$', end)
    if j == None:
        no_hapsho_list.append(i)
    else:
        hapsho_list.append(i)

100%|██████████████████████████████████████████████████████████████████| 17027658/17027658 [00:39<00:00, 431314.96it/s]

In [100]:
print(len(hapsho_list))
hapsho_list[:5]

5273123

['21세기와 새 밀레니엄은 엄밀히 말해 서기 2001년부터입니다.',
 '서 예수가 태어난 해를 AD1년으로 규정했기 때문입니다.',
 '따라서 AD 1세기는 1년에서 100년까지이며, 20세기도 1901년에서 2000년까지입니다.',
 '또 첫 밀레니엄은 서기 1000년까지, 두번째 밀레니엄은 2000년까지입니다.',
 '그러나 2000이라는 숫자가 주는 시대적 체감 이 워낙 크기 때문에 이를 감안해 지면을 제작했음을 양지하시기 바랍니다.']

In [131]:
print(len(hapsho_list))
hapsho_list[:5]

5273123

['21세기와 새 밀레니엄은 엄밀히 말해 서기 2001년부터입니다.',
 '서 예수가 태어난 해를 AD1년으로 규정했기 때문입니다.',
 '따라서 AD 1세기는 1년에서 100년까지이며, 20세기도 1901년에서 2000년까지입니다.',
 '또 첫 밀레니엄은 서기 1000년까지, 두번째 밀레니엄은 2000년까지입니다.',
 '그러나 2000이라는 숫자가 주는 시대적 체감 이 워낙 크기 때문에 이를 감안해 지면을 제작했음을 양지하시기 바랍니다.']

In [105]:
with open('./hapsho_li.pkl', 'wb') as f:
    pickle.dump(hapsho_list, f)

In [106]:
hapsho_df = pd.DataFrame(hapsho_list)

In [107]:
hapsho_df.to_csv("./합쇼체.txt", encoding='utf-8-sig', index=False, header=None)

In [30]:
# 샘플
#hapsho_sample = hapsho_df.sample(n=1000, random_state=1)

In [31]:
#print(len(hapsho_sample))
#hapsho_sample_sort = hapsho_sample.sort_index()

1000

In [32]:
#hapsho_sample_sort.to_csv("./합쇼체_sample.csv", encoding='utf-8-sig', header=None)

In [93]:
print(len(no_hapsho_list))
no_hapsho_list[:5]

11754535

['새천년 이 아침',
 '한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.']

In [94]:
print(len(hapsho_list))
print(len(no_hapsho_list))
print(len(hapsho_list)+len(no_hapsho_list))

5273123
11754535
17027658

In [95]:
yo_list = []
no_yo_list = []

for i in tqdm(no_hapsho_list, mininterval=1):
    end = i.split()[-1]
    j = re.search('요\.?$', end)
    if j == None:
        no_yo_list.append(i)
    else:
        yo_list.append(i)

100%|██████████████████████████████████████████████████████████████████| 11754535/11754535 [00:44<00:00, 263519.04it/s]

In [132]:
print(len(yo_list))
yo_list[:5]

287118

['1990년대의 경험으로 2050년의 세계를 그릴 수 있을지도 모르지요.',
 '김아시아 지역공동체는 어떤 성격의 것일까요.',
 '전전 교토학파의 아시아의 공생공영의 이념과 비슷하지 않을까요.',
 '종교가 아니라 윤리가 21세기의 가장 큰 문제라고 생각해요.',
 '전쟁 포기의 이념은 칸트에서 나왔지만 서양에서는 실현되지 않았어요. 일본 헌법을 만든 미국인들은 그 이념을 일본에서 실현하려고 했던 것 같아요. 이런 일에 이번에는 일본이 선두에 섰으면 좋겠지만 분위기가 변했어요.']

In [98]:
yo_df = pd.DataFrame(yo_list)

In [34]:
# 샘플
#yo_sample = yo_df.sample(n=1000, random_state=1)

In [35]:
#print(len(yo_sample))
#yo_sample_sort = yo_sample.sort_index()

1000

In [99]:
yo_df.to_csv("./해요체.txt", encoding='utf-8-sig', index=False, header=None)

In [133]:
print(len(no_yo_list))
no_yo_list[:5]

11467417

['새천년 이 아침',
 '한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.']

In [134]:
print(len(yo_list))
print(len(no_yo_list))
print(len(yo_list)+len(no_yo_list))

287118
11467417
11754535

In [135]:
nor_list = []
que_list = []

for i in tqdm(no_yo_list, mininterval=1):
    end = i.split()[-1]
    j = re.search('\?$', end)
    if j == None:
        nor_list.append(i)
    else:
        que_list.append(i)

100%|██████████████████████████████████████████████████████████████████| 11467417/11467417 [00:55<00:00, 207413.78it/s]

In [136]:
print(len(que_list))
que_list[:5]

109435

['헬로 2000 컴퓨터를 입는다?',
 '생각하기도 전에 눈물이 되곤 하는 어머니 김정자 여사, 지난해 성탄절 전야에 흙으로 돌아가신 존경하는 아버지, 묵묵히 지켜 봐준 사랑하는 핏줄들, 한시름 놓으셨죠?',
 '그는 냉장고에서 물병을 꺼내 컵과 함께 가지고 왔다.컵에 물을 따르며 그는 말을 이었다. 그녀는 이곳에 머물고 싶다고 나에게 말했습니다.우리는 자주 주변을 산책하게 되었지요.그녀는 걷는 것을 좋아했습니다.몸이 아주 가뿐해지고 있었으니까요.그때까지만 해도 그녀의 마음은 평온한 편이었습니다.자신이 건반조차 제대로 두드릴 수 없다는 사실을 깨닫는 그 순간까지는 말입니다.어느 날 그녀는 피아노를 연주하다 말고 나를 돌아보았습니다.불규칙한 건반 음이 한번 울리고 난 다음이었지요.그녀의 새끼손가락 하나가 부러져 건반 위에 놓여 있었습니다.나는 상심한 그녀에게 모차르트를 연주해주었습니다.날이 갈수록 그녀의 몸은 점점 가벼워졌습니다.사뿐사뿐 날듯이 걸어다녔지요.새의 깃대처럼,그녀의 뼛속은 텅 비어 있는 듯했습니다.그러나 바람이 조금만 세게 불어도 깨져버릴 것처럼 그녀는 늘 위태로웠습니다.우리는 결국 산책마저 단념해야 했습니다.그 이후로는 목욕을 해도 그녀의 피부는 부드러워지지 않았습니다.이해되십니까?',
 '취재일기 Y2K 사기극이었나?',
 '2000년 서울 시정의 방향은?']

In [137]:
que_df = pd.DataFrame(que_list)

In [38]:
# 샘플
#que_sample = que_df.sample(n=1000, random_state=1)

In [39]:
#print(len(que_sample))
#que_sample_sort = que_sample.sort_index()

1000

In [138]:
que_df.to_csv("./의문문.txt", encoding='utf-8-sig', index=False, header=None)

In [139]:
print(len(nor_list))
nor_list[:5]

11357982

['새천년 이 아침',
 '한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.']

In [140]:
print(len(que_list))
print(len(nor_list))
print(len(que_list)+len(nor_list))

109435
11357982
11467417

In [141]:
da_list = []
no_da_list = []

for i in tqdm(nor_list, mininterval=1):
    end = i.split()[-1]
    j = re.search('다\.$', end)
    if j == None:
        no_da_list.append(i)
    else:
        da_list.append(i)

100%|██████████████████████████████████████████████████████████████████| 11357982/11357982 [00:32<00:00, 344935.36it/s]

In [142]:
print(len(da_list))
da_list[:5]

9164402

['한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '우리는 달라졌다.',
 '우리는 깨어났다.']

In [143]:
print(len(no_da_list))
no_da_list[:5]

2193580

['새천년 이 아침',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.',
 '새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리에 푸르고 푸른 기운이 샘솟게 하라.',
 '둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.',
 '지지정당 없다 69.9 본사 여론조사']

In [144]:
print(len(da_list))
print(len(no_da_list))
print(len(da_list)+len(no_da_list))

9164402
2193580
11357982

In [146]:
# 반말(~다.) 리스트 피클 저장
import pickle

with open('./da_list.pkl', 'wb') as f:
    pickle.dump(da_list, f)

In [147]:
# no_da_list 저장
with open('./no_da_list.pkl', 'wb') as f:
    pickle.dump(no_da_list, f)

In [22]:
## 반말과 독백, 그리고 명사를 나눠야함

In [164]:
end_li = []

for i in tqdm(no_da_list, mininterval=1):
    end = i.split()[-1]
    end_li.append(end)

100%|████████████████████████████████████████████████████████████████████| 2193580/2193580 [00:11<00:00, 188085.51it/s]

In [165]:
end_li[:5]

['아침', '오라.', '하라.', '솟아오르라.', '여론조사']

In [138]:
with open('./da_list.pkl', 'wb') as f:
    pickle.dump(da_list, f)

In [2]:
#from konlpy.tag import Komoran
from konlpy.tag import Kkma 
kkma = Kkma()

import pickle

C:\Users\reijin1105\AppData\Local\Continuum\anaconda3\lib\site-packages\jpype\_core.py:210: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)

In [ ]:
eomi_li = []

for i in tqdm(end_li, mininterval=1):
    eomi = kkma.pos(i)
    eomi_li.append(eomi)

In [35]:
#형태소 분석기로 어미만 모은 피클 파일 
with open('./eomi_li.pkl', 'wb') as f:
    pickle.dump(eomi_li, f)

In [215]:
# 어미 리스트 피클 파일 읽기
with open('./eomi_li.pkl', 'rb') as f:
    eomi_li = pickle.load(f)

In [5]:
eomi_li[0][0][1]

'NNG'

In [ ]:
end_li[217436]

In [43]:
no_da_list[217436]

'신발을 벗고 가방을 베개삼아 눕자 하늘이 보인다. 등나무 덩굴을 얹어놓은 정자 지붕 틈새로 보이는 하늘.'

In [44]:
no_da_list[:5]

['새천년 이 아침',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.',
 '새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리에 푸르고 푸른 기운이 샘솟게 하라.',
 '둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.',
 '지지정당 없다 69.9 본사 여론조사']

In [45]:
end_li[:5]

['아침', '오라.', '하라.', '솟아오르라.', '여론조사']

In [39]:
a = []
a_index = []

for i in eomi_li[:5]:
    j = i[-2:]
    k = eomi_li.index(i)
    a.append(j)
    a_index.append(k)

In [46]:
a

[[('아침', 'NNG')],
 [('라', 'ECD'), ('.', 'SF')],
 [('라', 'ECD'), ('.', 'SF')],
 [('라', 'ECD'), ('.', 'SF')],
 [('여론', 'NNG'), ('조사', 'NNG')]]

In [49]:
a[0][0]

('아침', 'NNG')

In [48]:
a[1][1]

('.', 'SF')

In [ ]:
len(eomi_li)

In [7]:
eomi_li_1 = eomi_li[:500000]
eomi_li_2 = eomi_li[500000:1000000]
eomi_li_3 = eomi_li[1000000:1500000]
eomi_li_4 = eomi_li[1500000:2000000]
eomi_li_5 = eomi_li[2000000:]

In [52]:
with open('./eomi_li_1.pkl', 'wb') as f:
    pickle.dump(eomi_li_1, f)

In [8]:
with open('./eomi_li_2.pkl', 'wb') as f:
    pickle.dump(eomi_li_2, f)

In [54]:
with open('./eomi_li_3.pkl', 'wb') as f:
    pickle.dump(eomi_li_3, f)

In [55]:
with open('./eomi_li_4.pkl', 'wb') as f:
    pickle.dump(eomi_li_4, f)

In [56]:
with open('./eomi_li_5.pkl', 'wb') as f:
    pickle.dump(eomi_li_5, f)

In [203]:
# 리스트 피클 파일 읽기
with open('./eomi_li_.pkl', 'rb') as f:
    eomi_li_1 = pickle.load(f)

In [204]:
with open('./eomi_li_2.pkl', 'rb') as f:
    eomi_li_2 = pickle.load(f)

In [205]:
with open('./eomi_li_3.pkl', 'rb') as f:
    eomi_li_3 = pickle.load(f)

In [206]:
with open('./eomi_li_4.pkl', 'rb') as f:
    eomi_li_4 = pickle.load(f)

In [207]:
with open('./eomi_li_5.pkl', 'rb') as f:
    eomi_li_5 = pickle.load(f)

In [220]:
print(len(eomi_li))
eomi_li[:5]

2193580

[[('아침', 'NNG')],
 [('오', 'VV'), ('라', 'ECD'), ('.', 'SF')],
 [('하', 'VV'), ('라', 'ECD'), ('.', 'SF')],
 [('솟아오르', 'VV'), ('라', 'ECD'), ('.', 'SF')],
 [('여론', 'NNG'), ('조사', 'NNG')]]

In [216]:
n = []

for i in tqdm(eomi_li, mininterval=1):
    if len(i) == 1:
        j = i
        k = 'noun'
        l = 'not_noun'
        if j[0][1] == 'NNG':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNP':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNB':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNM':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NR':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NP':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'ETN':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'XSN':
            #a_li.append(i)
            n.append(k)
        else:
            #b_li.append(i)
            n.append(l)
    else :
        j = i[-2:]
        k = 'noun'
        l = 'not_noun'
        if j[1][1] == 'NNG':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'NNP':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'NNB':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'NNM':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'NR':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'NP':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'ETN':
            #a_li.append(i)
            n.append(k)
        elif j[1][1] == 'XSN':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNG' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNP' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNB' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NNM' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NR' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'NP' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'ETN' and j[1][1] == 'SF':
            #a_li.append(i)
            n.append(k)
        elif j[0][1] == 'XSN' and j[1][1] == 'SF':
            #a_li.append(i)   
            n.append(k)
        else:
            #b_li.append(i)
            n.append(l)

100%|████████████████████████████████████████████████████████████████████| 2193580/2193580 [00:02<00:00, 876636.69it/s]

In [221]:
with open('./da_list.pkl', 'rb') as f:
    da_list = pickle.load(f)

In [224]:
print(len(da_list))
da_list[:5]

9164402

['한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와, 보라! 여기 백두의 하늘 연못. 새 천년 우주의 꿈을 품었다.',
 '새 하늘 길을 열었다.',
 '천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시린 맑은 물 하늘에 바쳤나니, 천지는 명령한다.',
 '우리는 달라졌다.',
 '우리는 깨어났다.']

In [225]:
with open('./no_da_list.pkl', 'rb') as f:
    no_da_list = pickle.load(f)

In [226]:
print(len(no_da_list))
no_da_list[:5]

2193580

['새천년 이 아침',
 '모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것들이 흔적도 없이 사라진 새 세상에 오라. 헌신.긍지.사랑.희망.승리.화해.통일이여 춤추며 박수치며 오라.',
 '새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리에 푸르고 푸른 기운이 샘솟게 하라.',
 '둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.',
 '지지정당 없다 69.9 본사 여론조사']

In [227]:
print(len(n))
n[:10]

2193580

['noun',
 'not_noun',
 'not_noun',
 'not_noun',
 'noun',
 'noun',
 'noun',
 'noun',
 'noun',
 'not_noun']

In [228]:
with open('./n_li.pkl', 'wb') as f:
    pickle.dump(n, f)

In [53]:
#with open('./a_index_li_5.pkl', 'wb') as f:
    #pickle.dump(a_index_li, f)

In [54]:
#with open('./b_index_li_5.pkl', 'wb') as f:
    #pickle.dump(b_index_li, f)

In [174]:
#명사형 리스트 읽기 
with open('./a_index_li_5.pkl', 'rb') as f:
    noun_idx_5 = pickle.load(f)

In [175]:
#비명사형 리스트 읽기 
with open('./b_index_li_5.pkl', 'rb') as f:
    not_noun_idx_5 = pickle.load(f)

In [230]:
no_da_df = pd.DataFrame(no_da_list)

In [231]:
print(len(no_da_df))
no_da_df.head(10)

2193580

                                                   0
0                                           새천년 이 아침
1  모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것...
2  새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리...
3       둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.
4                               지지정당 없다 69.9 본사 여론조사
5                                            김행 전문기자
6                                         이회창 총재 신년사
7                                         박태준 총재 신년사
8                                         이만섭 대행 신년사
9                          김대중 대통령 신년사 21세기 한민족의 시대로

In [233]:
n_df = pd.DataFrame(n)

In [235]:
print(len(n_df))
n_df.head(10)

2193580

          0
0      noun
1  not_noun
2  not_noun
3  not_noun
4      noun
5      noun
6      noun
7      noun
8      noun
9  not_noun

In [237]:
no_da_n_df = pd.concat([no_da_df, n_df], axis=1)

In [239]:
print(len(no_da_n_df))
no_da_n_df.head()

2193580

                                                   0         0
0                                           새천년 이 아침      noun
1  모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것...  not_noun
2  새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리...  not_noun
3       둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.  not_noun
4                               지지정당 없다 69.9 본사 여론조사      noun

In [240]:
with open('./no_da_noun_df.pkl', 'wb') as f:
    pickle.dump(no_da_n_df, f)

In [ ]:
### 피클파일 불러서 계속 작업하기

In [3]:
with open('./no_da_noun_df.pkl', 'rb') as f:
    no_da_n_df = pickle.load(f)

In [7]:
print(len(no_da_n_df))
no_da_n_df.head(10)

2193580

                                               utter      noun
0                                           새천년 이 아침      noun
1  모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것...  not_noun
2  새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리...  not_noun
3       둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.  not_noun
4                               지지정당 없다 69.9 본사 여론조사      noun
5                                            김행 전문기자      noun
6                                         이회창 총재 신년사      noun
7                                         박태준 총재 신년사      noun
8                                         이만섭 대행 신년사      noun
9                          김대중 대통령 신년사 21세기 한민족의 시대로  not_noun

In [6]:
no_da_n_df.columns = ["utter", "noun"]

In [24]:
noun_df = no_da_n_df[no_da_n_df['noun'] == 'noun']
n = noun_df['utter']
n

0                                                새천년 이 아침
4                                    지지정당 없다 69.9 본사 여론조사
5                                                 김행 전문기자
6                                              이회창 총재 신년사
7                                              박태준 총재 신년사
                                ...
2193573            기자 담배 끊기를 결심하기에 앞서 자신이 없어 주저하게 되는 사람들.
2193576                   사고가 일어난 것은 오늘 삼십 일일 오전 열시 오십분쯤.
2193577                                     범행 시간 일분 이십초.
2193578                             기자 지난 이십 칠일 새벽 세시반 쯤.
2193579    기자 외계인이 복제기술로 인간을 창조했다고 믿는 종교단체의 창설자인 클로드 보리옹.
Name: utter, Length: 1428375, dtype: object

In [25]:
not_noun_df = no_da_n_df[no_da_n_df['noun'] == 'not_noun']
not_n = not_noun_df['utter']
not_n

1          모든 거짓은 가라. 탐욕.오만.편견.절망.분단.반목.질시는 가라. 그리하여 사된 것...
2          새로운 정신, 새로운 지식, 빛의 네트워크로 하나된 우리. 천지여, 신인류의 정수리...
3               둥, 둥, 둥. 천년의 아침을 알리는 저 북소리. 나가라. 뛰어라. 솟아오르라.
9                                  김대중 대통령 신년사 21세기 한민족의 시대로
15                                     이만섭 대행 연합공천 잘못하면 다 망해
                                 ...
2193569                                            몸이 안좋으니까.
2193570                       암튼 그래야 또 도와준 사람한테 보답도 되고 할테니까.
2193571                         김겸원 삼성경제연구소 경기는 당연히 위축이 되겠죠.
2193574                                 어떻게 하면 담배를 끊을 수 있을까.
2193575    이걸 끊으면 공백이 생기고요 이 공백을 메꾸기 위한 대안이 중요한데 운동을 한다든가...
Name: utter, Length: 765205, dtype: object

In [28]:
print(len(n)+len(not_n))

2193580

In [29]:
n_df = pd.DataFrame(n)
not_n_df = pd.DataFrame(not_n)

                                                  utter
0                                              새천년 이 아침
4                                  지지정당 없다 69.9 본사 여론조사
5                                               김행 전문기자
6                                            이회창 총재 신년사
7                                            박태준 총재 신년사
...                                                 ...
2193573          기자 담배 끊기를 결심하기에 앞서 자신이 없어 주저하게 되는 사람들.
2193576                 사고가 일어난 것은 오늘 삼십 일일 오전 열시 오십분쯤.
2193577                                   범행 시간 일분 이십초.
2193578                           기자 지난 이십 칠일 새벽 세시반 쯤.
2193579  기자 외계인이 복제기술로 인간을 창조했다고 믿는 종교단체의 창설자인 클로드 보리옹.

[1428375 rows x 1 columns]

In [31]:
n_df.to_csv("./명사형.txt", encoding='utf-8-sig', header=None, index=False)

In [32]:
# 비명사형 + ~다.
with open('./da_list.pkl', 'rb') as f:
    da_list = pickle.load(f)

In [33]:
da_df = pd.DataFrame(da_list)

In [42]:
da_df.columns = ["utter"]

In [43]:
da_df.head()

                                               utter
0  한반도의 모든 산들이 어기영차 치달아 오르고, 만주벌 대륙의 산들이 쉼없이 내려와,...
1                                       새 하늘 길을 열었다.
2  천지를 둘러싼 저 용틀임. 저 피와 땀과 눈물의 용틀임. 마침내 대지의 젖,가슴 시...
3                                          우리는 달라졌다.
4                                          우리는 깨어났다.

In [51]:
da_df_1 = da_df[:5000000]
da_df_2 = da_df[5000000:]

In [52]:
print(len(da_df_1))
print(len(da_df_2))

5000000
4164402

In [46]:
print(len(da_df))
print(len(not_n_df))
print(len(da_df)+len(not_n_df))

9164402
765205
9929607

In [53]:
da_df_1.to_csv("./반말(~다.)_1.txt", encoding='utf-8-sig', header=None, index=False)

In [54]:
da_df_2.to_csv("./반말(~다.)_2.txt", encoding='utf-8-sig', header=None, index=False)

In [49]:
not_n_df.to_csv("./반말(기타).txt", encoding='utf-8-sig', header=None, index=False)

In [12]:
# 영단어 들어간 텍스트 샘플 추출

txt =[]

f = open("./스타일별 분류/under_55/script.txt", 'r', encoding='utf-8-sig')
while True:
    line = f.readline()
    if not line: break
    txt.append(line.strip('\n'))
f.close()

In [13]:
print(len(txt))
txt[:5]

4660563

['그보다 더 큰 황금맥은 지난 수십년간 일본 민영 TV방송국들이 만들어왔던 프로그램들.',
 '소속팀의 대표지역이 다른 게 별거 이유.',
 '평소 믿고 따르던 동네 아저씨로부터 성폭행과 추행에 시달리길 구년여.',
 '책 인간동물의 공존이유 맛깔스럽게 설명',
 '4일 기준환율은 전날보다 34.50원 오른 1천4백45.10원.']

In [14]:
def isEnglishOrKorean(text):
    k_count = 0
    e_count = 0
    for c in text:
        if ord('가') <= ord(c) <= ord('힣'):
            k_count+=1
        elif ord('a') <= ord(c.lower()) <= ord('z'):
            e_count+=1
    return "e" if e_count>1 else "k"

In [15]:
k_list = []
e_list = []

for i in tqdm(txt, mininterval=1):
    app = isEnglishOrKorean(i)
    if app == 'k':
        k_list.append(i)
    else :
        e_list.append(i)

100%|████████████████████████████████████████████████████████████████████| 4660563/4660563 [00:45<00:00, 102505.91it/s]

In [16]:
print(len(e_list))
e_sample = e_list[:10000]

205827

In [17]:
len(e_sample)

10000

In [18]:
e_df = pd.DataFrame(e_sample)

In [19]:
e_df.to_csv("./eng_sample_10K.txt", encoding='utf-8-sig', header=None, index=False)

In [20]:
# 텍스트 샘플에 인덱스 붙이기

txt =[]

f = open("./스타일별 분류/under_55/eng_sample_10K.txt", 'r', encoding='utf-8-sig')
while True:
    line = f.readline()
    if not line: break
    txt.append(line.strip('\n'))
f.close()

In [21]:
print(len(txt))
txt[:5]

10000

['그보다 더 큰 황금맥은 지난 수십년간 일본 민영 TV방송국들이 만들어왔던 프로그램들.',
 '정통부 50명 선발 내년부터 외국인 IT 유학생에 장학금',
 'CBA 최고스타 숀 타버등 일급선수들 다수포함',
 '6월13일 전주 LG전 이후 10연승.',
 '토요일 토요일은 즐거워 MBC TV 저녁 7시.']

In [22]:
txt_df = pd.DataFrame(txt)

In [30]:
txt_df['인덱스'] = txt_df.index+1

In [32]:
txt_df = pd.DataFrame(txt_df, columns=['인덱스',0])

In [34]:
txt_df.head()

   인덱스                                                0
0    1  그보다 더 큰 황금맥은 지난 수십년간 일본 민영 TV방송국들이 만들어왔던 프로그램들.
1    2                  정통부 50명 선발 내년부터 외국인 IT 유학생에 장학금
2    3                        CBA 최고스타 숀 타버등 일급선수들 다수포함
3    4                            6월13일 전주 LG전 이후 10연승.
4    5                       토요일 토요일은 즐거워 MBC TV 저녁 7시.

In [40]:
txt_df.to_csv("./eng_sample_10K_2.csv", encoding='utf-8-sig', header=None, index=None)

In [41]:
txt =[]

f = open("./스타일별 분류/under_55/eng_sample_10K_2.txt", 'r', encoding='utf-8-sig')
while True:
    line = f.readline()
    if not line: break
    txt.append(line.strip('\n'))
f.close()

# txt_df = pd.read_csv("./스타일별 분류/under_55/eng_sample_idx.csv", encoding='utf-8-sig', header=None)

In [42]:
# 인덱스만 남기고 구분자 지우기
def idx_sep(text):
    pattern = '(^\d{1,5}),(\S+)'
    text = re.sub(pattern=pattern, repl=r'\1 \2', string=text)
    text = text.strip()
    text = " ".join(text.split())
    return text

In [47]:
txt_idx = []

for i in tqdm(txt, mininterval=1):
    j = idx_sep(i)
    txt_idx.append(j)

100%|████████████████████████████████████████████████████████████████████████| 10000/10000 [00:00<00:00, 172901.10it/s]

In [53]:
txt_idx[-5:]

['9996 연장 11회 김영직의 밀어내기 사구로 귀중한 결승점을 뽑은 LG의 3대2 승리.',
 '9997 환경 양측간 환경협력 강화를 위해 FTA와 별도로 약정체결방안에 대해서도 논의.',
 '9998 호남 출신은 아니지만 초등학교나 중고교를 호남에서 나왔으니 MK 포장지로 쌌다는 것.',
 '9999 LG 전자 광저우지역 제2사업자 추진 중.',
 '10000 IT 진출 지원센터 개설 인터넷 기업협회']

In [100]:
def insert_pun(text):
    text = text.strip()
    pattern = '(\w)$'
    text = re.sub(pattern=pattern, repl=r'\1.', string=text)
    return text

In [101]:
txt_fin = []

for i in tqdm(txt_idx, mininterval=1):
    j = insert_pun(i)
    txt_fin.append(j)

100%|████████████████████████████████████████████████████████████████████████| 10000/10000 [00:00<00:00, 217812.38it/s]

In [103]:
txt_fin[-5:]

['9996 연장 11회 김영직의 밀어내기 사구로 귀중한 결승점을 뽑은 LG의 3대2 승리.',
 '9997 환경 양측간 환경협력 강화를 위해 FTA와 별도로 약정체결방안에 대해서도 논의.',
 '9998 호남 출신은 아니지만 초등학교나 중고교를 호남에서 나왔으니 MK 포장지로 쌌다는 것.',
 '9999 LG 전자 광저우지역 제2사업자 추진 중.',
 '10000 IT 진출 지원센터 개설 인터넷 기업협회.']

In [83]:
#def clean_sp(text):
    #pattern = '[.,]'
    #text = re.sub(pattern=pattern, repl='', string=text)
    #text = text.strip()
    #text = " ".join(text.split())
    #return text

In [57]:
#txt_idx2 = []

#for i in tqdm(txt_idx, mininterval=1):
    #j = clean_sp(i)
    #txt_idx2.append(j)

100%|████████████████████████████████████████████████████████████████████████| 10000/10000 [00:00<00:00, 345503.10it/s]

In [273]:
#txt_idx2[:5]

['0 그보다 더 큰 황금맥은 지난 수십년간 일본 민영 TV방송국들이 만들어왔던 프로그램들',
 '1 정통부 50명 선발 내년부터 외국인 IT 유학생에 장학금',
 '2 CBA 최고스타 숀 타버등 일급선수들 다수포함',
 '3 6월13일 전주 LG전 이후 10연승',
 '4 토요일 토요일은 즐거워 MBC TV 저녁 7시']

In [104]:
txt_fin_df = pd.DataFrame(txt_fin)
#txt_idx2_df = pd.DataFrame(txt_idx2)

In [105]:
txt_fin_df.to_csv("./sample_10k.txt", encoding='utf-8-sig', header=None, index=False)

In [4]:
txt =[]

f = open("./스타일별 분류/under_55/eng_sample_euc-kr.txt", 'r', encoding='euc-kr')
while True:
    line = f.readline()
    if not line: break
    txt.append(line.strip('\n'))
f.close()

In [7]:
# 인덱스 지우기
def del_idx(text):
    pattern = '(^\d{1,5}\s)'
    text = re.sub(pattern=pattern, repl='', string=text)
    text = text.strip()
    text = " ".join(text.split())
    return text

In [8]:
txt_delidx = []

for i in tqdm(txt, mininterval=1):
    j = del_idx(i)
    txt_delidx.append(j)

100%|████████████████████████████████████████████████████████████████████████████| 200/200 [00:00<00:00, 200301.05it/s]

In [9]:
txt_delidx

['그보다 더 큰 황금맥은 지난 수십년간 일본 민영 TV방송국들이 만들어왔던 프로그램들',
 '정통부 50명 선발 내년부터 외국인 IT 유학생에 장학금',
 'CBA 최고스타 숀 타버등 일급선수들 다수포함',
 '6월13일 전주 LG전 이후 10연승',
 '토요일 토요일은 즐거워 MBC TV 저녁 7시',
 'Jaguar XK8 모델이 가드레일을 따라 달리는 모습이 보여지고 이어서 떠오르는 글자',
 '지난 주말 LG와 해태의 잠실 혈전이 대표적인 경우',
 '김한영 PD의 키스신 주문에 수줍음 많은 김원희 가 그만 새색시같은 표정을 짓고 만 것',
 '커다란 목소리가 필요한 대사는 모두 김PD의 몫',
 '하나뿐인 지구국책사업의 현주소 새만금간척사업EBS 밤945',
 'DDR 이용료는 일반 오락실과 같은 5백원',
 '지난해 공중파 TV와 라디오 프로가 심의규정 위반으로 방송위에 적발된 사례는 7백65건',
 '23일 막오른 현대와 LG의 한국시리즈',
 'LGEDS시스템의 인트라넷망인 이지워크',
 '녹사평역 정거장은 폭 23m에 높이 18m 길이 1백20m로 국내 최대규모',
 'TK민정계 VS 소장파민주계 한나라 내분 대결',
 '11월25일IMF 협의단 국내 금융기관 부실상태 집중 조사',
 '깜짝 동물나라동물들의 살아남기EBS 오후520',
 '한국미국등 전자통신 12개사도 B2B망',
 '청주MBC가 제작해 22일 밤11시부터 50분간 청주지역 일대에서 방영하는 벽초 홍명희',
 'LG강사장 가족에 편지 보내려면 내게 맡겨라',
 '로스앤젤레스에는 AM방송국이 뉴욕과 시카고를 합친 28곳보다 많은 35곳',
 'TFTLCD 회복 조짐가격 바닥권진입 내년초 반등',
 'LG전자 로터리 히터32만9천원 좌우회전 전기스토브 7만5천원 난방기 2백9만원',
 '152Km 직구 변화구 오키나와서 시범',
 'RV 수출 효자자동차수출 감소에도 증가세',
 '그러나 LG 부엉이 정삼흠 만은 예외',
 '생명과학 DNA유전진화발생 등 생명 현상을 다루는 과학',
 '당신 아파트에는 in your apartment 1',
 '컴퓨터통신업체인 유니텔과 코카콜라가 광고를 교환 게재하는 것도 COOP 사례',
 '프로야구 98정규리그 OB삼성 현대롯데한화LG 쌍방울해태',
 'MLB 김선우조진호 올림픽대표팀 합류 가능',
 'SK그룹도 다음달로 연기된 각 계열사의 주총과 이사회를 통해 임원인사를 실시한다는 방침',
 'YS와 인연 맺은 것을 안타깝게 생각',
 '제2세션 유라시아지역 경제통합과정에서 TSR의 역할',
 '플레이오프전만을 놓고 볼 때는 당시 MVP로 뽑힌 최창호 가 단연 으뜸',
 '한국IBM 신재철사장 올핸 e비지니스 솔루션 서비스 주력',
 '동네 사람들이 함께 모여 TV를 시청하는 것이 낯설지 않았던 그때 그 시절',
 '특히 미국 워너브라더스 사가 내놓은 TV 및 극장용 만화중 70는 코코가 만든 작품',
 '18일 오후 3시경 서울 강북구 수유동 KPA어린이댄스학원',
 'TV드라마 맞아? MBC 고백에 시청자 비난 봇물',
 '공모방식 인수 BWCB 발행 1개월뒤 주식전환 가능',
 '미국에서 실제로 있었던 TV퀴즈쇼 비리사건을 다룬 영화',
 '최근 미국 CNN방송은 이 무렵 늘어나는 부상자를 줄이기 위한 예방법을 소개',
 '스모크 MBC TV 22일 밤 11시',
 '남편 혼자벌이로 살기가 점점 힘든 IMF 시대',
 'GPS 단말기를 갖고 탔지만 비행기의 차단도료와 이중 창 때문에 무용지물',
 '부동산QA청약통장가입 구분은 전용면적 기준',
 '대표적인 경우가 LG와 롯데의 앙숙관계',
 '현대 투수진이 OB 삼성과 질적양적으로 달라 LG 타자들이 쉽게 공략하기 힘들다는 것',
 'CF 이야기뉴 EF쏘나타 아름다운 동행편',
 'LG 백화점 부천점 식품부에서 오전 12시까지 일부 품목을 싸게 판매',
 'DJ에 고문 임명 조언하자 자네가 큰일하고 있네 칭찬',
 '작가 김수현씨 MBC상대 30억 배상 소송',
 '관련기사 현장에서캐세레스의 비극 양팀 감독의 말 연장 10회말 LG 공격',
 '김석환 풍자화 만평과 삽화전2328일 KBS 전시실',
 'IT업체들 무료 웹제작등 불황 탈출 모색',
 '한나라당 윤석중 비서관임명은 DJ아들 비호대가',
 '1인당 청약한도는 8백주이며 발행가는 2만원 LG증권이 예상하는 주가는 5만5천원선',
 '본점은 특히 영캐주얼을 강화했으며 마르조CC클럽게스옵트 등 18개 브랜드를 취급',
 '원제 Back to the Future3 1990년작',
 '코미디뮤지컬 홍도 VS 곰순SBS 오후630',
 '연예비리 수사확대 방송관계자 SM 상당량 보유',
 '미국 UC 버클리 입학처장 서울대에 훈수',
 '9일 텍사주 어빙의 포시즌스TPC에서 열린 바이런넬슨클래식 연습경기인 프로암대회',
 '아디다스코리아컵 부천 SK와 최종전에서 01로 진 것까지 따지면 무득점 4연패',
 'Style 패션 차분한 초콜릿 우아한 보라',
 'FA컵은 겨울철 K리그?아마팀 모두 탈락',
 '한 원로자문회의 공약 배경DJ에 원로자문회의 의장 보장 정치보복 없다 약속 구체화',
 '사진 LG화학 클라이덴과 태평양 화이트키스의 광고장면',
 'LG애드가 이 제도를 처음 공식 거론한 것은 지난해 10월',
 '이밖에 4위는 LG 5위 현대 6위 쌍용 7위 동양8',
 '김유택은 29일 SBS와의 경기에서 10득점 대망의 4천득점에 12점차로 다가선 것',
 'KBS1 인간극장 5부작 2002 심청전현대판 효녀심청 재덕양 이야기',
 '연예계 비리 방송출연음반홍보 PR비 상납과 비례',
 '귀 기울이는DJ내주부터 각계인사와 열린간담회',
 '100일 MJ 대선도전 석달만에 하차 정치인생 첫 시련',
 '프로농구 9899정규리그 현대SBS SK기아',
 '원주 나래 25 29 25 21 100 SBS 32 29 22 25 108',
 'BM협정 일방 탈퇴 30년 핵자물쇠 공식 폐기',
 '하이닉스 채권단 MOU승인본계약까지 산넘어 산',
 'IG 퍼펙트 의료보험 거의 모든 질병 보장',
 '한국 시민사회와 소속 NGO 발전에 대한 지식인의 역할 비교',
 '그리고 영입 후 기대에 못 미치고 있는 넥센 니코스키와 LG 박현준의 목동경기!',
 'KBS1오전10시낮12시10분 오후1시20분5시',
 '수해연금 삼성 50억SK 30억 기탁',
 '뚝섬 돔구장은 월드컵 개막전준결승전 6만석 이상의 FIFA규정에 크게 모자라는 형편',
 '국악 KBS국악관현악단 제1백2회 정기연주회 25일 오후 7시30분 KBS홀',
 '패션 판타지아동아TV 채널34 오후310',
 'CCTV에 찍힌 남성은 28살 정 모 씨',
 'USA TODAY 웹페이지 장쩌민 게재 실수',
 '이원복의 만화공간wwwwonbokcom만화가 이원복의 홈페이지',
 'MBC주부가요열창대회27일 오후2시 우송예술회관 2202251',
 '도전 주부가요스타 KBS2 오전1050',
 '노무현김영삼 회동 의미노YS 정서복원 일단 성공',
 '노무현 단일후보 확정 노 TV토론서 마음비운 모습 어필',
 '그것이 알고싶다백범 암살사건 SBS TV 밤 11시',
 'LG의 이같은 계투작전에 삼성은 4회이후 단 1안타도 못 때리는 빈공',
 'SEM 경찰 4만명 사상 최대 경호 작전',
 '신관 2층 GV2 베 이직 7080 세일230022',
 '보사는 IBF 랭킹1위로 39승1패를 기록중',
 '가을콘서트 6인의 팝 프리마돈나KBS2 밤905',
 '정고전가 KBS 2TV 밤10시10분',
 '114대 106 SK의 8점차 승리',
 '그리고 게다가 and besides 1',
 '프랑스측에서는 KBS아나운서로 이름을 날렸던 한영난씨',
 'CALS주경준ERP백종명설계정보화한성배',
 'FILA컵 96국제대학올스타전 캐나다호주 한국러시아 미국일본',
 'BEST OF BEST 가장 잊을 수 없는 순간 베스트10',
 '머니초대석 UBS 존 프레이저 아시아태평양 대표',
 'CJ는 제일제당 의 영문이니셜을 딴 것',
 'SBS그것이 새진행자 정진영 문성근과 다른 스타일로 승부',
 '차량통행이 다소 한가한 오후 2시쯤 LA 다운타운 근처 8번가와 노르만디가의 교차로',
 'TV에 나오는 최신 인기 가요에 등장하는 춤을 배우는 것은 너무 쉬운 일',
 '우리 들꽃을 담은 화분 전람회 1319일 부천 LG갤러리',
 '6백달러대 스위트룸도 MA고객들도 가득찼고전체 스위트룸 판매율은 70 수준',
 '한국 시민사회의 발전과 중앙 NGO에 참여한 지식인 역할 분석',
 'OCP는 데이터베이스 소프트웨어 전문업체인 오라클사에서 시행하는 자격 제도',
 '이번에 개발한 LAN 카드는 품질과 가격경쟁력에서 자신있는 제품',
 '돈 형편 좋아질 것 2분기 기업자금 BSI 1374',
 'LG 생활건강이 출시한 녹스벨트는 하이드로 젤타입',
 '문희정 작가표 NO 막장! 공감과 유쾌한 웃음 100 충전!',
 '그러다 박세리의 LPGA 우승으로 분위기가 되살아났다고 자평',
 '미 반도체 TI사 하이닉스에 1억불 투자 예정',
 '박원순변호사 강단 선다이대서 NGO 조직관리 강의',
 '동 서부 LA레이커스 119103 시애틀',
 '올해 말이면 원본과 번역본을 검색할 수 있는 CD롬이 출시될 예정',
 '오 락 서세원의 화요스페셜KBS2 밤 1100',
 '그는 오는 6월말경 독일 분데스리가 FC쾰른에 입단하기로 예정돼 있는 상태',
 '대한민국 ROTC중앙회 제8대 회장 조웅기씨',
 '부천시 소사구 송내동 345 IMF 쉼터',
 'GE캐피탈의 할부금융사 진출이 국내 금융계를 긴장시키는 이유도 이같은 전략 때문',
 'Smile Politics 오빠동생 구청장놓고 집안싸움해운대구 내가 적임',
 '또 한화에너지 주유소는 7백79원 LG정유 주유소는 7백80원',
 '영국에선 9월 셋째주 클래식FM 금주의 앨범으로 선정',
 '기업 공정공시여부 11월 일제점검컨퍼런스콜IR도 대상',
 '에어컨 분야에선 만도 위니아가 삼성 LG 대우를 누르고 1위',
 'Middle School English마이TV 채널44 오후 700',
 'TV는 사랑을 싣고 KBS2 오후720',
 '쌍둥이들의 몸무게는 정상 체중에 훨씬 못미치는 308g756g 정도',
 '은화삼CC 매입은 양자간 협상이 계속 진행중',
 '월드 컬렉션동아TV 채널34 오전 1000',
 'LG건설은 부산 서구 남부민동에 짓고 있는 주상복합건물내 아파트 96가구를 분양중',
 '이 씨의 요금제는 데이터 한도가 6기가짜리인 LTE 안심차단 요금제',
 '서울YMCA녹번복지관 청소년상담매주 월금 오전 10오후 6시3386341',
 '삼성증권배프로야구호랑이 사자 이기고 왕좌 지킬까 SK엘지롯데 탈꼴찌작전 볼거리',
 'SLAM 순항미사일 해군 주력기인 F18에 장착될 장거리 미사일',
 '현재도 접영 2백m와 혼계영 2백m의 한국기록을 보유중',
 '원주 나래 14 30 27 20 91 SK 27 26 25 14 92',
 '김운용 IOC위원 아들 미국회사 상대 승소',
 '서울대 회의 주제는 VISIONS멀티미디어 환경에서 마케팅커뮤니케이션과 소비자와의 연계',
 '가장 눈길을 끈 핸드 헬드 PC는 스캐너가 달린 캡셰어',
 'MTV미니시리즈 마지막 승부가 바로 그녀의 남성미 넘치는 연기가 꽃핀 곳',
 '한국 초동수사참여 강화 SOFA 개선안 사실상 합의',
 '임대 용도 ADSL모뎀 소비자 구입 가능',
 '좋은 세상만들기 HBS 채널19 밤905',
 '청계고가 STOP 대형차량 진입로에 23m제한시설 설치',
 '룩셈부르크 는 스위스 를 겨냥 OECD 회원국이 모두 따르면 우리도 하겠다는 입장',
 'LPGA 재미동포 유니스 최로재진 공동 53위',
 '국내 인사가 터너 회장을 만날 기회는 지금까지 거의 없었다는게 KBS 의 설명',
 '7세 이상 어린이가 부모 없이 TV를 보게되는 시간 비율 95',
 'FTA체결 필요성 공감 3 재계인사 비즈니스포럼',
 '월 2백50만원 이상은 거뜬히 벌던 S씨가 어려워지기 시작한 것도 역시 IMF 때문',
 '슈퍼리그 현대차 접전 끝에 LG화재에 역전승',
 '승용차에 타고 있던 46살 신 모 씨 등 12명이 다쳤습니다 sync 경찰',
 '지난해 4월 LG화학에서 독립법인으로 분사한 LG생활건강의 조명재 사장',
 '피시통신 하이텔 han4 천리안 zhkr1 전자우편',
 '가장 무거운 책은 Designers Dream Photoshop 7으로 38',
 '부시 외교 문제있다WPNYT무능외교비판',
 '월드컵아트모 World베컴오언 너무 좋아 여성영어 열풍',
 '제이슨 프로젝트에 동원되는 잠수정의 총길이는 23m에 높이 약 12m정도',
 '특집 연예가 중계98상반기 결산 KBS2 밤830',
 '145km속구 안타치기 이론상 불가능예일대 물리학과 교수',
 '언론김대통령 작년 수차례 충돌IPI 보고서',
 '북 핵연료봉 곧 재장전 IAEA 사찰관에 밝혀부시 대응책 고심',
 '네트워크 다큐용의 전설CTN 채널29 밤 1000',
 '시네코아4 코아아트홀 서울 동아 시네하우스 녹색 CGV강변11',
 '배구 9798슈퍼리그 LG화재경희대 삼성화재상무 고려증권현대자',
 '연일 계속되는 LA지역의 폭염으로 다저 스타디움을 찾는 관중 수가 감소',
 '청와대비서실 직제개편DJ 집안 엄정관리 의지',
 '정가 접속 DJ 행자장관 칭찬재경장관 질타와 대조',
 '나의 사랑 나의 가족KBS1 오후 735',
 '노정익 현대상선사장 MH 경영복귀 본인이 판단',
 '연세대 미 뉴욕주립대 경제학과 졸업 MIT대 슬론스쿨 경영학 석사',
 'HOT가 뭐길래 생일파티 팬 몰려 탈진소동',
 'LG전자도 고급형 제품을 중심으로 모델을 2030줄일 계획',
 '귤겉껍질30g 생강10g 작설5g 물6컵 꿀4큰술',
 '맞수 MSIBM 손잡았다 웹서비스 컨소시엄 공동참여',
 '행사문의 및 참가접수ICEC사무국 025683208 6339 팩스 025652434',
 'NG밴드초청 청소년 무료콘서트8일 오후3시반 함지골청소년수련원 4145222',
 '지난해 KBS 2TV 내사랑 유미 이후 7개월만의 드라마 출연',
 '신장은 최용수 1m72보다 4 작은 1m6',
 'IMF 쇼크 이후 국내 금융기관이 해외에서 조달한 자금 최대 규 모',
 '동산CG 대표이사 부사장 이기주 상무 김종환 배종철',
 'SKT 라이코스 코리아 인수KT 다음과 전략적 제휴 백지화',
 'SBS골프 1월 10일 13일 전라운드 단독 생중계!',
 '말많고 탈많은 이번 겨울 LG 의 연봉협상 테이블',
 '내일의 경기 31일 프로야구 98정규리그 OB현대 롯데LG 한화해태 쌍방울삼성',
 '외신기자 초청 오찬서 밝혀 DJ 두자식 문제가 최대 발생',
 'LG 생활건강은 LG 화학내 2대 사업단위 중 하나로 식품 생활용품']

In [10]:
input_df = pd.DataFrame(txt_delidx)

In [11]:
input_df.to_csv("./input.txt", encoding='euc-kr', header=None, index=False)